<div class="wrapper" ng-controller="LoginCtrl">
	<div class="container">
		<h1>Welcome</h1>
		<form class="form" ng-submit="doIt();">
			<input type="text" placeholder="Username" name="UserName" ng-model="UserName">
			<input type="password" placeholder="Password" name="Password" ng-model="Password">
			<button type="submit">Login</button>
		</form>
	</div>
	<ul class="bg-bubbles">
		<li style="background-color: green;"></li>
		<li style="background-color: lime;"></li>
		<li style="background-color: orange;"></li>
		<li style="background-color: yellow;"></li>
		<li style="background-color: navy;"></li>
		<li style="background-color: olive;"></li>
		<li></li>
		<li style="background-color: maroon;"></li>
		<li style="background-color: fuchsia;"></li>
		<li style="background-color: aqua;"></li>
	</ul>
</div>
<script type="text/javascript" src="html/Login/controllers/login.js"></script>