*.class
.mtj.tmp/
.idea
.settings
*.iml
.gradle
/local.properties
.DS_Store # only needed under mac os
/build
/captures
.metadata
/Latte
com.tlc.marketing.common------
logs
# Package Files #
*.jar
*.war
*.ear
hs_err_pid*
/Servers
/RemoteSystemsTempFiles
