<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tlc.marketing.dao.MenuDao">
    <!-- 加载菜单 -->
    <select id="getMenu" parameterType="java.util.HashMap" resultType="com.tlc.marketing.domain.Menu">
        SELECT DISTINCTROW m.MENUID,m.MENUNAME,m.PARENTID,m.ORDERID,m.TRANSID,m.CREATETIME 
        FROM MENU m,role r,usermenurelate u
		WHERE u.MenuId = m.MenuId and r.RoleSeq = u.RoleSeq and m.PARENTID = #{parentId} and r.roleSeq = #{roleSeq}
		ORDER BY ORDERID ASC
    </select>
</mapper>
