<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tlc.marketing.dao.user.UserDao">
	<!--设置domain类和数据库中表的字段一一对应，注意数据库字段和domain类中的字段名称不致，此处一定要！-->
    <resultMap id="BaseResultMap" type="com.tlc.marketing.domain.user.User">
        <id column="USER_ID" property="userId" jdbcType="INTEGER" />
        <result column="USER_NAME" property="userName" jdbcType="CHAR" />
        <result column="USER_PASSWORD" property="password" jdbcType="CHAR" />
    </resultMap>
    <!-- 查询单条记录 -->
    <select id="selectUserById" parameterType="int" resultMap="BaseResultMap">
        SELECT USER_ID,USER_NAME,USER_PASSWORD FROM T_USER WHERE USER_ID = #{userId}
    </select>
    <!-- 查询单条记录 -->
    <select id="loginCheck" parameterType="com.tlc.marketing.domain.user.User" resultMap="BaseResultMap">
        SELECT USER_ID,USER_NAME,USER_PASSWORD FROM T_USER WHERE USER_NAME = #{userName} and USER_PASSWORD = #{password}
    </select>
</mapper>
