<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tlc.marketing.dao.UserDao">
    <!-- 登陆 -->
    <select id="loginCheck" parameterType="com.tlc.marketing.domain.TlcUser" resultType="com.tlc.marketing.domain.TlcUser">
        select userSeq,userId,userName,password,sex,age,addr,mobilePhone,phone,idType,idNo,roleSeq,channelId,createTime from tlcuser
        WHERE userId = #{userId} and password = #{password}
    </select>
    <!-- 角色查询 -->
    <select id="roleQuery" parameterType="java.lang.String" resultType="java.util.Map">
        select roleSeq,roleName,DATE_FORMAT(createTime,'%Y-%m-%d %H:%i:%s') createTime from role where 1=1
        <if test="_parameter!=null and _parameter!=''">
            AND roleName = #{roleName}
        </if>
    </select>

    <insert id="addRole" parameterType="java.util.Map" keyProperty="roleSeq" useGeneratedKeys="true" >
        INSERT INTO role(RoleName,CreateTime) VALUES (#{roleName},now())
    </insert>

    <insert id="addUsermenurelate" parameterType="java.util.Map">
        INSERT INTO usermenurelate VALUES (#{roleSeq},#{menuId})
    </insert>
</mapper>
